@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
}
body * {
  font-family: 'Montserrat', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}